.container {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #f4eee7;
    padding: 30px 0;
}

.text_container {
    width: 350px;
}

.text_container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    color: white;
}

.text_container li {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background: #295f4a;
}

.text_container h1 {
    font-size: 23px;
    margin: 0 auto 20px;
    text-transform: uppercase;
    background: #295f4a;
    color: white;
    padding: 15px;
    width: fit-content;

}