.container {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #f4eee7;
    padding: 30px 0;
}


.text_container ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    color: white;
}

.text_container li {
    color: black;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
}

.text_container li p {
    width: 250px;
}

.text_container li svg {
    color: #0f5ea0;
    width: 30px;
    font-size: 20px;
}

.text_container h1 {
    font-size: 20px;
    margin: 0 auto 20px;
    text-transform: uppercase;
    background: #0f5ea0;
    color: white;
    padding: 15px;
    width: fit-content;

}