.carousel {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.img_container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background: #dd293b;
  padding: 20px 0;
  border-radius: 10px;
}

.img_container img {
  width: 330px;
  border-radius: 10px;
}
