@media screen and (max-width: 768px) {
  .carousel {
    text-align: center;
  }
  
  .title {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin: 15px 0;
  }
  
  .img_container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border-radius: 10px;
  }
  
  .img_container img {
    width: 300px;
    border-radius: 10px;
  }
}
