.container {
  text-transform: uppercase;
  border: none;
  padding: 15px 5px;
  width: 330px;
  background: (var(--primary-color));
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 450px;
  }
}
