.container {
  text-transform: uppercase;
  border: none;
  padding: 15px 5px;
  width: 290px;
  background: #0f5ea0;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 9px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 450px;
    font-size: 14px;
  }
}
