.container {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fbbf1b;
    gap: 30px;
    padding-bottom: 30px;

}

.container h1 {
    font-size: 25px;
    width: 80vw;
    
}

.container h3 {
    background-color: black;
    color: white;
    padding: 20px 0;
    width: 100%;
}


.last_p {
    color: black !important;
}

.container img {
    width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 5px solid white;
}

.highlight {
    background-color: white;
    padding: 0 10px;
}


@media screen and (max-width: 768px) {
    .container  h1 {
        font-size: 18px;
    }

    .container h3{
        font-size: 20px;
    }

    .container p {
        font-size: 14px;
        font-weight: bold;
    }

    .container img {
        width: 300px;
    }
}