.carousel {
  text-align: center;
}

.title {
  text-transform: uppercase;
  margin: 15px 0;
}

.img_container img {
  width: 400px;
  border-radius: 10px;
}


@media screen and (max-width: 768px) {
  .title {
    font-size: 16px;
  }
  
  .img_container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border-radius: 10px;
  }
  
  .img_container img {
    width: 300px;
  }
}
