.container {
    text-align: center;
    margin-bottom: 20px;
  }

  .container img {
    width: 330px;
    margin-top: 20px;
  }
  
  .container h1 {
    background: #295f4a;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
  }
  
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: black ;

}